@tailwind base;
@tailwind components;
@tailwind utilities;

/* Force rebuild */

:root {
  --background: #ffffff;
  --foreground: #171717;
  --e-global-typography-text-font-family: "Poppins";
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--e-global-typography-text-font-family), Sans-serif;
}
